name: Cypress tests

on:
  push:
    branches:
      - "master"
  pull_request:
jobs:
  run-tests:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cypress tests
        uses: cypress-io/github-action@v2
        with:
          working-directory: ./
          start: npm start
          wait-on: "http://localhost:4000"
